<div class="form-container" *ngIf="form()">
  <h2>{{ formStructure?.title || 'Default Title' }}</h2>
  <form [formGroup]="form()" (ngSubmit)="submitForm()">
    <div *ngFor="let field of formStructure?.fields">
      <mat-form-field appearance="fill" *ngIf="field.type !== 'NEW_PASSWORD'">
        <mat-label>{{ field.title || 'Default Field Title' }}</mat-label>
        <input [matTooltip]="field.description || 'No description available'" matInput [type]="field.type?.toLowerCase() || 'text'" [formControlName]="field.name">
        <mat-error *ngIf="form()?.get(field.name)?.invalid">
          {{ field.errorMessage || 'This field is required' }}
        </mat-error>
      </mat-form-field>

      <div class="pass-fild" *ngIf="field.type === 'NEW_PASSWORD'">
        <div class="flex justify-center items-center py-2">
          <mat-form-field appearance="fill">
            <mat-label>{{ field.title || 'Password' }}</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="showHidePassType($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="form()?.get('newPassword')?.invalid">
              {{ field.errorMessage || 'Password is required' }}
            </mat-error>
          </mat-form-field>
          <mat-icon class="flex justify-center items-center mb-4 mx-1" [matTooltip]="field.info || 'No additional info'">info</mat-icon>
        </div>

        <mat-form-field appearance="fill" *ngIf="field.showConfirmPassword">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error *ngIf="form()?.hasError('notMatching')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <button [disabled]="form().invalid" class="submit" mat-flat-button type="submit">
      {{ formStructure?.submitLabel || 'Submit' }}
    </button>
  </form>
</div>